#registroID{
	font-family: 'Roboto', sans-serif;
	font-size: 35px;
}
.card{
	border: 0px solid rgba(0,0,0,.125);
	transition: 0.7s;
}
.card:hover {
  transform: scale(1.05,1.05);
}

.bodyCard{
	display: none;
}
.card-add{
	transform: scale(0);
}

.button_padding_border{
	padding-top: 1rem;
	border-top: 1px solid #e9ecef;
}

#idTitle{
	font-family: 'Montserrat', sans-serif;
}

.menu {
    background-color: #3f966f;
    height: 40px;
}
.img-responsive-logo {
	 max-width: 120px;
}
